body {
    display: flex;
    background: linear-gradient(to bottom, #b3e5fc, #e1f5fe);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /*Deixa o background completo*/
    padding: 20px; /*Não deixa encostar na tela ao encolher a janela do navegdor*/
    box-sizing: border-box; /*Para o padding não causar rolagem*/    
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    /*backdrop-filter: blur(120px);*/

}
