/*------------------------------------------------------------------------------------------*/
/*---------- RESETAR O MARGIN E O PADDING. ESCOLHER UMA FONTE PADRÃO PARA O SITE -----------*/
/*------------------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*----------------------------------------*/
/*---------- TRABALHANDO O BODY ----------*/
/*----------------------------------------*/

main {
    background: linear-gradient(to bottom, #b3e5fc, #e1f5fe);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /*Deixa o background completo*/
    padding: 20px; /*Não deixa encostar na tela ao encolher a janela do navegdor*/
    box-sizing: border-box; /*Para o padding não causar rolagem*/
}

.container-body {
    text-align: center;
    margin-bottom: 20px;
}

.container-body h2 {
    color: #0277bd;
    font-size: 1.8em; /*Melhor adaptável para acessibilidade*/
}

form {
    background-color: #ffffff;
    padding: 30px 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #01579b;
    margin-bottom: 5px;
}

/*Input*/
input, select, textarea {
    padding: 10px; /*Aumenta o tamanho do formulário*/
    margin-bottom: 15px;
    border: 1px solid #90caf9;
    border-radius: 8px;
    font-size: 1em;
    transition: all 0.2s ease;
    resize: none;
}

input:focus, select:focus, textarea:focus {
    border-color: #0288d1;
    outline: none;
    box-shadow: 0 0 4px #0288d1;
}

/*Remove as setas do number nos navegadores
baseados em Chromium (Chrome, Edge, Opera, Safari)*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Remove as setas do number no Firefox.
Observação: é uma propriedade não padronizada. Serve
apenas no Firefox.*/
input[type=number] {
    -moz-appearance: textfield;
}

/*Área dos Botões*/
.botoes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


/*-------------------------------------------------------*/
/*---------- BOTÃO CANCELAR/CADASTRAR PRODUTOS ----------*/
/*-------------------------------------------------------*/

.botao-cancelar,
.botao-cadastrar {
    flex: 1;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease; /*Animar o botão ao passar o mouse*/
}

.botao-cadastrar {
    background-color: #0288d1;
    color: white;
}

.botao-cadastrar:hover {
    background-color: #0277bd;
}

/*Botão Canelar quando for button*/
.botao-cancelar {
    background-color: #e57373;
    color: white;
}

/*Botão Canelar quando for button*/
.botao-cancelar:hover {
    background-color: #d32f2f;
}

/*Botão Canelar quando for um link*/
/*Link para o Botão Cancelar*/
a.botao-cancelar {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #e57373;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1; /*Mantém o mesmo tamanho do outro botão*/
}

/*Botão Canelar quando for um link*/
a.botao-cancelar:hover {
    background-color: #d32f2f;
}


/*---------------------------------------------------*/
/*---------- CONFIGURANDO A RESPONSIVIDADE ----------*/
/*---------------------------------------------------*/

@media (max-widht: 480px) {
    form {
        padding: 20px;
    }
    
    .container-body h2 {
        font-size: 1.5em;
    }
}


